{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": "off",
    "react/button-has-type": "off",
    "camelcase": "off",
    "no-multi-spaces": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-cycle": "off",
    "jsx-quotes": "off",
  }
}
